@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: $color-black;

    button,
    input,
    textarea,
    select {
        outline: none;
    }
}

.icon {
    display: inline;
    &__edit {
        width: 17px;
        height: 17px;
        margin-right: 20px;
        fill: $primary-color;
    }

    &__edit:hover {
        fill: $secondary-color;
    }
}

////// 404
.fourohfour {
    margin-top: 0;
    background-image: url("./../assets/images/404_drawing.jpg");
    background-size: 500px;
    width: 100vw;
    height: 100vh;
    position: relative;

    h1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: $secondary-color;
        font-size: 300px;
    }
}

#credit p {
    text-align: center;
    font-size: 10px !important;
    padding: 10px 0;
}
