@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: $color-black;

    button,
    input,
    textarea,
    select {
        outline: none;
    }
}

.icon {
    display: inline;
    &__edit {
        width: 17px;
        height: 17px;
        margin-right: 20px;
        fill: $primary-color;
    }

    &__edit:hover {
        fill: $secondary-color;
    }
}
