.icon {
    display: inline;
    &__edit {
        width: 17px;
        height: 17px;
        margin-right: 20px;
        fill: $primary-color;
    }

    &__edit:hover {
        fill: $secondary-color;
    }
}

.profile {
    padding-top: 100px;
}

.create {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__event form,
    &__activity form {
        display: flex;
        flex-direction: column;

        input,
        textarea,
        button {
            margin-top: 30px;
        }
    }

    .datepicker {
        width: 300px;
    }
}

.react-datepicker__time-list {
    padding: 0;
}
