.home {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;

    h1 {
        font-weight: 600;
        font-size: 230%;
        color: $primary-color;
    }

    &__forecast {
        width: 49%;
        padding: 30px;
    }

    &__list {
        width: 49%;
        padding: 30px;
    }
}

.event {
    &__card {
        background-color: #fff;
        border-radius: 7px;
        box-shadow: $box-shadow-1;
        padding: 20px;
        width: 400px;
        margin-bottom: 30px;
    }
}
