.create {
    background-image: url("./../assets/images/home_bg1.jpg");
    background-position: center top;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-land-1120) {
        flex-direction: column;
        height: auto;
    }

    @include respond(phone-sm-230) {
        min-width: 330px;
    }

    &__event {
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: $box-shadow-1;
        margin-top: 80px;
        padding: 0 50px 30px 50px;
        border-radius: 7px;

        display: flex;
        flex-direction: column;

        @include respond(tab-land-1120) {
            // flex-grow: 1;
            // width: 100%;
        }

        h2 {
            color: $primary-color;
            font-size: 180%;
            font-weight: 300;
        }

        .datepicker,
        input,
        textarea {
            border: none;
            border: 1px solid $secondary-color-light;
            padding: 10px 25px;
            width: 330px;
            border-radius: 7px;
            font-size: 16px;
            color: #4f545a;

            @include respond(phone-sm-230) {
                width: 250px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input,
        textarea {
            margin-top: 30px;
        }

        .btn__full {
            width: 200px;
            color: #fff;
            padding: 10px 25px;
            margin-top: 30px;
        }
    }
}
.react-datepicker__time-list {
    padding: 0;
}

////// UDATE EVENT + ACTIVITY

.edit {
    padding: 100px;
    background-color: $color-white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: 100;
        color: $primary-color;
        font-size: 220%;
    }

    &__form form {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        width: 500px;
        box-shadow: $box-shadow-1;

        .datepicker,
        input,
        textarea {
            border: none;
            border: 1px solid $secondary-color-light;
            padding: 10px 25px;
            width: 400px;
            border-radius: 7px;
            font-size: 16px;
            color: #4f545a;
            margin-bottom: 30px;
        }

        .btn__full {
            width: 150px;
            color: #fff;
            padding: 10px 25px;
        }
    }
}
