.home {
    &__bg {
        background-image: url("./../assets/images/home_bg1.jpg");
        background-position: center top;
        background-size: cover;
        padding: 80px 50px 90px 50px;
        width: 100%;
    }

    &__container {
        margin-top: 100px;
        background-color: $color-white;
        border-radius: 7px;

        @include respond(phone-sm-300) {
            padding: 5px;
            width: 96%;
            margin-left: 2%;
        }
    }

    &__forecast {
        padding: 0 30px;
        display: flex;
        justify-content: space-between;

        @include respond(phone-400) {
            padding: 0 10px;
        }

        @include respond(phone-sm-300) {
            padding: 5px;
            width: 96%;
            margin-left: 2%;
        }

        h1 {
            font-weight: 600;
            font-size: 200%;
            color: $primary-color;
            display: inline-block;
            margin-right: 100px;

            @include respond(desktop-sm-1300) {
                font-size: 100%;
                margin-right: 20px;
            }

            @include respond(tab-port-950) {
                font-size: 180%;
            }
            @include respond(phone-400) {
                font-size: 100%;
            }
        }

        form {
            display: flex;

            @include respond(phone-big-610) {
                flex-direction: column;
                align-items: center;
            }

            select {
                font-size: 20px;
                text-indent: 20px;
                height: 46px;
                width: 400px;
                border: none;
                background-color: #fff;
                border: 2px solid $secondary-color;
                color: $secondary-color;
                font-family: "Noto Sans JP", sans-serif;

                @include respond(desktop-sm-1300) {
                    font-size: 14px;
                }

                @include respond(phone-big-610) {
                    width: 300px;
                    margin-bottom: 20px;
                }

                @include respond(phone-400) {
                    width: 250px;
                }

                option {
                    background-color: transparent;

                    @include respond(desktop-sm-1300) {
                        font-size: 14px;
                    }
                }
            }

            @include respond(desktop-sm-1300) {
                button {
                    font-size: 14px;
                    padding: 5px 10px;
                }
            }

            @include respond(phone-big-610) {
                button {
                    padding: 10px 25px;
                }
            }
        }
    }

    .forecast__form {
        background-color: $color-white;
        width: 100%;
        padding: 20px;
        border-radius: 7px;
        display: flex;
        align-items: center;

        @include respond(tab-port-950) {
            flex-direction: column;
        }
    }

    .btn__ghost {
        margin-left: 30px;
        background-color: #fff;
    }
}

.forecast__result {
    width: 90%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port-950) {
        flex-direction: column;
    }

    @include respond(phone-400) {
        padding: 5px;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;

        @include respond(tab-land-sm-1050) {
            font-size: 16px;
        }
    }

    &-one img {
        border-radius: 7px;
        width: 100%;

        @include respond(tab-port-950) {
            margin-top: 30px;
            width: 60%;
        }

        @include respond(phone-400) {
            width: 100%;
        }
    }

    &-one,
    &-two,
    &-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        width: 33%;

        @include respond(tab-port-950) {
            width: 90%;
            align-items: center;
        }
    }

    &-two,
    &-three {
        @include respond(tab-port-950) {
            margin-top: 30px;
        }
    }

    span {
        font-size: 18px;
        font-weight: 600;
        color: $secondary-color;
        margin-right: 10px;

        @include respond(tab-land-sm-1050) {
            font-size: 16px;
        }
    }
}

#home-left {
    border-right: 1px solid $primary-color;

    @include respond(tab-port-950) {
        border-right: none;
    }
}

.list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: rgba(218, 213, 220, 0.3);

    @include respond(tab-port-950) {
        flex-direction: column;
    }

    &__event {
        width: 50%;

        @include respond(tab-port-950) {
            width: 100%;
        }

        h1 {
            font-weight: 100;
            font-size: 220%;
            margin-left: 60px;
            margin-bottom: 40px;
            color: $primary-color;

            @include respond(tab-land-sm-1050) {
                font-size: 160%;
            }

            @include respond(tab-port-950) {
                font-size: 220%;
            }

            @include respond(phone-400) {
                font-size: 160%;
            }
        }

        &-card {
            width: 90%;
            margin: 0 5%;
            background-color: #fff;
            border-radius: 7px;
            box-shadow: $box-shadow-1;
            padding: 20px;
            margin-bottom: 30px;
            font-weight: 500;

            display: flex;
            justify-content: center;
            align-items: baseline;

            @include respond(phone-400) {
                width: 96%;
                margin: 30px 2%;
            }

            &-container {
                @include respond(tab-port-950) {
                    justify-content: space-between;
                    width: 80%;
                }
            }

            &-join {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include respond(phone-400) {
                    flex-direction: column;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 150%;
                    font-weight: 600;

                    @include respond(tab-land-sm-1050) {
                        font-size: 100%;
                    }

                    @include respond(tab-port-950) {
                        font-size: 130%;
                    }
                }

                .btn__full {
                    width: 140px;
                    height: 50px;
                    padding: 0 20px;
                }
            }

            p {
                color: $primary-color;
            }

            span {
                color: $color-black;
                font-weight: 300;
                margin-left: 12px;
            }

            &-attendee a {
                display: inline;
                margin-right: 20px;
                text-decoration: none;
                color: $secondary-color;
                font-weight: 700px !important;
                transition: 0.4s;
            }

            &-attendee a:hover,
            &-creator a:hover {
                font-weight: 700px;
            }

            &-creator {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }

            &-creator a {
                text-decoration: none;
                color: $secondary-color;
            }
        }
    }
}

.comment {
    margin-top: 30px;
    background-color: rgba(218, 213, 220, 0.1);
    border: 1px solid $color-light;
    border-radius: 7px;
    padding: 0 20px 20px 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    @include respond(tab-land-sm-1050) {
        p {
            font-size: 14px;
        }

        @include respond(tab-port-950) {
            font-size: 18px;
        }
    }

    h4 {
        color: $primary-color;
        font-size: 150%;
        font-weight: 400;

        @include respond(tab-land-sm-1050) {
            font-size: 100%;
        }

        @include respond(tab-port-950) {
            font-size: 130%;
        }
    }

    &__list {
        border: 1px solid $secondary-color;
        background-color: #fff;
        height: 150px;
        border-radius: 7px;
        padding: 10px;
        overflow: scroll;

        &-entry {
            margin-bottom: 20px;
        }
    }

    &__name {
        color: $primary-color !important;
        display: inline;
        margin-right: 10px;
        font-weight: 300;
    }
    &__content {
        color: $color-black !important;
        display: inline;
        font-weight: 300;
    }

    &__form {
        display: flex;
        align-items: center;

        input {
            padding: 10px 25px;
            border: none;
            border: 1px solid $color-light;
            border-radius: 7px;
            margin: 20px 0;
            width: 100%;
            font-size: 16px;
        }

        @include respond(tab-land-sm-1050) {
            input,
            button {
                font-size: 14px;
            }
        }

        @include respond(tab-port-950) {
            input,
            button {
                font-size: 16px;
            }
        }
    }
}
