.nav {
    background-color: $secondary-color;
    display: flex;
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    box-shadow: $box-shadow-1;
    z-index: 999;

    @include respond(phone-big-610) {
        flex-direction: column;
    }

    button:hover {
        background-color: $primary-color;
    }

    &__content {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
    }

    &__logo {
        img {
            width: 120px;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        @include respond(phone-big-610) {
            align-items: flex-end;
        }

        @include respond(phone-sm-300) {
            align-items: center;
        }

        .btn__main {
            margin-right: 50px;
        }

        &-container {
            @include respond(phone-big-610) {
                display: none;
            }
        }
    }

    &__link {
        color: #fff;
        margin-right: 50px;
        text-decoration: none;

        @include respond(phone-sm-300) {
            margin-right: 10px;
        }
    }
    &__icon {
        width: 40px;
        height: 40px;
        fill: #fff;
        color: #fff;

        transition: all 0.4s;

        &:hover {
            background-color: $primary-color;
            padding: 5px;
            border-radius: 7px;
        }
    }

    &__mobile {
        display: none;

        @include respond(phone-big-610) {
            display: flex;
            justify-content: center;
            margin-top: 26px;
        }
    }
}
